version: '3.8'

services:
  web:
    build: .
    command: gunicorn config.wsgi:application --bind 0.0.0.0:8000 --workers 3
    volumes:
      - ./staticfiles:/app/staticfiles
      - ./media:/app/media
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db
    environment:
      - DATABASE_URL=postgresql://lmsuser:lmspassword@db:5432/lmsdb
      - DJANGO_SETTINGS_MODULE=config.settings
      - DEBUG=False

  db:
    image: postgres:15-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=lmsdb
      - POSTGRES_USER=lmsuser
      - POSTGRES_PASSWORD=lmspassword
    ports:
      - "5432:5432"

volumes:
  postgres_data:
